:root {
  --dark: #111b21;
  --gray: #202c33;
  --msgcolor: #005c4b;
  --countcolor: #00a884;
  --textcolor: #e9edef;
  --secondtextcolor: #868979;
  font-family: sans-serif;
}
body {
  background-color: var(--dark);
  color: var(--textcolor);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.profile-pic {
  border-radius: 50%;
  overflow: hidden;
  width: 3em;
  height: 3em;
  background: url("/img/default_user.svg.png");
  background-color: #fff;
  background-position: center;
  background-size: cover;
  & img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray);
  padding: 0.8em;
  grid-area: header;
  .profile-pic {
    width: 2.5em;
    height: 2.5em;
  }
  & ul {
    display: flex;
    list-style: none;
    gap: 0.9em;
    & li {
      cursor: pointer;
    }
    & svg {
      width: 24px;
    }
  }
}

#navigation {
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: space-between;

  #input-search-container {
    display: flex;
    flex-grow: 1;
    width: 100%;
  }
  & label {
    background-color: var(--gray);
    padding: 0.3em 1em 0.3em 0.7em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    background: var(--gray);
    display: flex;
    & svg path {
      fill: var(--secondtextcolor);
    }
  }
  & input {
    order: 1;
    color: var(--textcolor);
    padding: 0.3em 0.5em;
    width: 100%;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: var(--gray);
    &::placeholder {
      color: var(--secondtextcolor);
    }
    &:focus-visible {
      outline: none;
    }
  }

  & > section:nth-child(2) {
    display: flex;
  }
}
#chats {
  display: flex;
  flex-direction: column;
}
.chat {
  cursor: pointer;
  padding: 0.7em 0.9em;
  display: flex;
  gap: 1em;
  width: 100%;
  flex-grow: 1;
  justify-content: space-between;
  transition: background-color 0.2s;
  .chat-text {
    flex-grow: 1;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 0.2em;
    width: 50%;

    & h2 {
      font-weight: 400;
      font-size: 1em;
    }
    & h3 {
      font-weight: 100;
      color: var(--secondtextcolor);
      font-size: 0.9em;
      &.newmessage {
        color: var(--textcolor);
      }
    }
  }
  .chat-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.4em;
    .chat-time {
      font-size: 0.8em;
      &.newmessage {
        color: var(--countcolor);
      }
    }
    .chat-buble {
      font-size: 0.9em;
      padding: 0.08em;
      aspect-ratio: 1;
      text-align: center;
      border-radius: 50%;
      background-color: var(--countcolor);
      align-self: center;
      color: var(--dark);
    }
  }
  .message {
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;

    & p {
      width: 99%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  &:hover {
    background-color: var(--gray);
  }
}
.arrow-back-svg {
  display: none;
  transition: all 1s;
  & path {
    fill: var(--countcolor) !important;
  }
}
.input:focus ~ label .arrow-back-svg {
  display: block;
  animation: fadeinarrow forwards 0.5s;
}
.input:focus ~ label .search-svg {
  display: none;
}
.input:not(:focus) ~ label .search-svg {
  animation: fadeinsearch forwards 0.3s;
}

@keyframes fadeinarrow {
  from {
    opacity: 0;
    transform: rotate(-90deg);
  }
  to {
    opacity: 1;
    transform: rotate(0);
  }
}
@keyframes fadeinsearch {
  from {
    opacity: 0;
    transform: rotate(100deg);
  }
  to {
    opacity: 1;
    transform: rotate(0);
  }
}

aside {
  grid-area: aside;
}
main {
  background-color: var(--gray);
  grid-area: main;
  min-height: calc(100vh - 60px);
}

nav {
  background-color: var(--gray);
  padding: 1em;
  grid-area: nav;
  box-shadow: 0 0 10px 2px var(--dark);
}
#app {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "header nav"
    "aside main";
}
#download-wp {
  padding: 3em;
  display: flex;
  flex-direction: column;

  & h1 {
    font-weight: 100;
    font-size: 2em;
  }
  & h2 {
    font-size: 1em;
  }
  & h1,
  & h2 {
    text-align: center;
  }
  & a {
    background-color: var(--countcolor);
    text-decoration: none;
    border-radius: 5em;
    margin: 1em auto;
    padding: 0.8em 1em;
    color: var(--gray);
  }
  & figure {
    max-width: 100%;
    & img {
      width: 100%;
      height: 100%;
    }
  }
}
